Bottleneck
Brotli
contourpy
customtkinter==5.2.2
cycler
darkdetect==0.8.0
fonttools
kiwisolver
matplotlib==3.10.0
mkl-service
mkl_fft
mkl_random
mysql-connector-python
numexpr
numpy
packaging
pandas
pillow
ply
protobuf==4.25.3
psutil==5.9.8
pyparsing
PyQt5==5.15.10
PyQt5_sip
python-dateutil
python-snap7==2.0.2
pytz
scipy==1.15.2
setuptools==72.1.0
sip
six
snakeviz==2.2.2
tornado
tzdata
wheel==0.44.0
